# Python
.venv/
__pycache__/
*.pyc

# Local data and DB
pgdata/
data/
*.sqlite
/docker-entrypoint-initdb.d/

# Docker and build artifacts
docker-compose.override.yml
docker-compose.*.yml.bak
*.bak
*.log

# IDE/editor
.vscode/
.idea/
